
.h1__proj {
    width: 50%;
}

.head__box {
    width: 60%;
    font-size: 20px;
}

  
.head__box2 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}


.under__box1 {
    list-style: none;
    opacity: 0.6;
}

.under__box2 {
    list-style: none;
    margin-left: 29px;
    margin-right: 125px;
}



.text__projects2 {
    font-size: 16px;
    line-height: 26px;
    width: 60%;
    margin-top:50px;
    opacity: 0.8;
}

.singe__pic {
    margin-left: 150px;
    margin-right: 150px;
 }

 .trio__pic {
    margin-top: 50px;
 }
